// ---------my animation--------
@keyframes myAnimi{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform:rotateX(-360deg);
    }
}

 //-----------copied form other
@keyframes top-to-bottom{
  0% {
            transform: rotate3d(0);
  }
  50% {
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  100% {
            transform: rotate3d(-1, 0, 0, 90deg);
  }
}

@keyframes bottom-to-top {
  0% {
            transform: rotate3d(1, 0, 0, 90deg);
  }
  50% {
            transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
            transform: rotate3d(0);
  }
}